html, body{
  background-image: linear-gradient(
    70deg,
    hsl(310deg 49% 25%) 0%,
    hsl(310deg 56% 30%) 7%,
    hsl(310deg 63% 34%) 14%,
    hsl(310deg 71% 38%) 19%,
    hsl(310deg 80% 42%) 24%,
    hsl(310deg 90% 45%) 28%,
    hsl(310deg 77% 52%) 32%,
    hsl(310deg 77% 62%) 36%,
    hsl(310deg 78% 72%) 40%,
    hsl(310deg 78% 83%) 43%,
    hsl(310deg 79% 94%) 47%,
    hsl(310deg 38% 89%) 50%,
    hsl(310deg 34% 68%) 53%,
    hsl(310deg 30% 50%) 57%,
    hsl(310deg 47% 35%) 60%,
    hsl(310deg 69% 22%) 64%,
    hsl(310deg 90% 15%) 67%,
    hsl(310deg 83% 19%) 71%,
    hsl(310deg 77% 23%) 76%,
    hsl(310deg 71% 27%) 81%,
    hsl(310deg 65% 31%) 87%,
    hsl(310deg 60% 35%) 100%
  );
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100%;
}
